In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [4]:
data = pd.read_csv('Preprocessed IBM Data.csv')

In [5]:
data.head()

,EmployeeNumber,Attrition,Is Male,Education Below High School/Some College,Education Bachelor Degree,Education Master/Doctorate Degree,AGE 18-30,AGE 31-60,Total Working Years 0-7,Total Working Years 8-11,...,Years At Company 0-4,Years At Company 5-8,Years At Company >=9,Years In Current Role 0-6,Years In Current Role 7-12,Years In Current Role >=13,Monthly Income 0-4000,Monthly Income 4001-6000,Monthly Income 6001-8000,Monthly Income >=8001
0,1,0,0,1,0,0,0,0,0,1,...,0,1,0,1,0,0,0,1,0,0
1,2,1,1,1,0,0,0,0,0,1,...,0,0,1,0,1,0,0,1,0,0
2,4,0,1,1,0,0,0,1,1,0,...,1,0,0,1,0,0,0,0,0,0
3,5,1,0,0,0,1,0,1,0,1,...,0,1,0,0,1,0,0,0,0,0
4,7,1,1,1,0,0,1,0,1,0,...,1,0,0,1,0,0,0,0,0,0

In [6]:
inputs_train, inputs_test, targets_train, targets_test = train_test_split(data.drop('Attrition', axis=1),
                                                                          data['Attrition'], test_size=0.2,
                                                                          random_state=42)

In [9]:
inputs_train.to_csv('inputs_train.csv', header=True)
targets_train.to_csv('targets_train.csv', header=True)
inputs_test.to_csv('inputs_test.csv', header=True)
targets_test.to_csv('targets_test.csv', header=True)

In [10]:
print(inputs_train.shape)
print(targets_train.shape)
print(inputs_test.shape)
print(targets_test.shape)

(1176, 40)
(1176,)
(294, 40)
(294,)